.BackImg{
height: 100%;
border-bottom-left-radius: 9px;

border-top-left-radius: 9px;
/* margin-left: -40px; */
background-image: url('.../public/');

}
.allpage{
background-color: rgba(0, 0, 0, 0.1);
z-index: 10;
}
.logo{
    margin-top: -80px;
    margin-left: 40px;
}